.search-bar {
  width: 400px;
  margin: auto;
  max-width: 90%;
  padding: 30px 0;
}

.breedsForm .field {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-around;
  align-items: center;
}

.breedsForm label {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.5em;
}

.breedsForm input {
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  width: 50%;
  height: 30px;
}
